body,html{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    line-height: 1;
    color : #393939;
    font-family: 'Open Sans';
    background-color : #e2e2e2;
}

div.square {
   display:inline-block;
   margin:-2px;
   padding:0px;
   width:25px;
   height:25px;
   background:rgba(180, 180, 122, 1);
   border: 1px solid black;
   font-size: 0;
}
